<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
<link rel="manifest" href="/manifest.json">

    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
                .then(reg => console.log("Service Worker Registered"))
                .catch(err => console.log("Service Worker Failed: ", err));
        }
    </script>
</head>
<body>
    <h1>All Users</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>password</th>
                <th>Emergency Contacts</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.contact }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.emergency1 }}, {{ user.emergency2 }}, {{ user.emergency3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
